<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSVProcessor.Database.Properties.Settings.CentileConnectionString"
            connectionString="Data Source=talktalkdb;Initial Catalog=Centile;Persist Security Info=True;User ID=sa;Password=adminTEM6090"
            providerName="System.Data.SqlClient" />
        <add name="CSVProcessor.Database.Properties.Settings.BackendAdminConnectionString"
            connectionString="Data Source=192.168.10.31;Initial Catalog=BackendAdmin;User ID=sa;Password=adminTEM6090"
            providerName="System.Data.SqlClient" />
        <add name="CSVProcessor.Database.Properties.Settings.BackendAdmin_devConnectionString"
            connectionString="Data Source=SERVICEDESK04\SQLEXPRESS;Initial Catalog=BackendAdmin_dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CSVProcessor.Database.Properties.Settings.Centile_devConnectionString"
            connectionString="Data Source=SERVICEDESK04\SQLEXPRESS;Initial Catalog=Centile_dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CSVProcessor.Database.Properties.Settings.CentileConnectionString1"
            connectionString="Data Source=192.168.10.50;Initial Catalog=Centile;Persist Security Info=True;User ID=sa;Password=adminTEM6090"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
