<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="UncRawDataPendPath" value="\\FS01\RAID\UC\RAWDATA.PND"/>
    <add key="UncRawDataArchPath" value="\\FS01\RAID\UC\RAWDATA.ARC"/>
    <add key="FS01UN" value="Administrator"/>
    <add key="FS01PS" value="Cl7181bjff"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="smtpHost" value="pro.eu.turbo-smtp.com"/>
    <add key="smtpPort" value="25"/>
    <add key="enableSSL" value="false"/>
    <add key="smtpEmail" value="servicedesk@sentel.co.uk"/>
    <add key="smtpUser" value="Service Desk"/>
    <add key="smtpPass" value="kTxufJGg"/>
    <add key="toEmail" value="rajaram.karunakaran@enreach.com"/>

  </appSettings>
  <connectionStrings>
    <add name="BackendAdminLive" connectionString="Server=192.168.10.31;Database=BackendAdmin;User Id=sa;Password=adminTEM6090;" providerName="System.Data.SqlClient"/>
    <add name="CentileLive" connectionString="Server=TalkTalkDb;Database=Centile;User Id=sa;Password=adminTEM6090;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
